//Globales
$flex-column: column;
$flex-row: row;
//Body
$body-backgroud: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 43, 1) 0%, rgba(0, 212, 255, 1) 100%);
$h1-font-size: 40px;
$h2-font-size: 25px;
$body-font-family: 'Poppins',
'Arial';
//---Conteiner---//
$conteiner-width: 1000px;
$conteiner-backgroud: white;
$conteiner-radius: 10px;
//---Formulario---//
$form-width: 50%;
//Formulario Input
$input-width: 80%;
//Formulario Boton
$boton-background: #008CBA;
//---Listado---//
$listado-width: 50%;
//Listado Opciones Agregadas
$listado-opciones-width: 80%;
//Listado botones
$btn-color: red;
//Listado presupuesto
$presupuesto-color: #C8E2FB;
$resto-color: #48f37b;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    background: $body-backgroud;
    display: flex;
    flex-direction: $flex-column;
    align-items: center;
    font-family: $body-font-family;
}

h1 {
    font-size: $h1-font-size;
}

.conteiner {
    width: $conteiner-width;
    background: $conteiner-backgroud;
    border-radius: $conteiner-radius;
    display: flex;
    flex-direction: $flex-row;
}

#formulario {
    width: $form-width;
    display: flex;
    flex-direction: $flex-column;
    align-items: center;
}

.formulario__h2 {
    font-size: $h2-font-size;
}

.formulario__label {
    font-weight: bold;
}

.formulario__input {
    width: $input-width;
    display: flex;
    flex-direction: $flex-column;
    margin: 10px 0px;
}

.formulario__texto {
    padding: 20px 10px;
    height: 30px;
    font-size: 17px;
    border: 1px solid black;
}

.boton {
    border: none;
    color: white;
    padding: 10px 5px;
    margin: 20px 0px;
    width: 80px;
    background-color: $boton-background;
    transition: 0.5s;
}

.boton__out {
    background-color: red;
}

.boton:hover {
    color: black;
    cursor: pointer;
}

.listado {
    display: flex;
    flex-direction: $flex-column;
    align-items: center;
    width: $listado-width;
}

.listado__h2 {
    font-size: $h2-font-size;
}

.listado__lista {
    width: $listado-opciones-width;
}

.listado__opcion {
    display: flex;
    flex-direction: $flex-row;
    justify-content: space-between;
    padding: 0px 10px;
    margin: 10px 0px;
    border: 1px solid #111;
    border-radius: 10px;
}

.listado__texto--precio,
.listado__texto--gasto {
    font-weight: bold;
}

.btn {
    background: transparent;
    border: none;
    width: 50px;
    height: 50px;
}

.btn__borrar {
    font-size: 25px;
    color: $btn-color;
}

.listado__presupuestos {
    width: $listado-opciones-width;
}

.listado__presupuesto {
    background-color: $presupuesto-color;
    padding: 10px 10px;
    margin: 10px 0px;
    border-radius: 10px;
}

.listado__resto {
    background-color: $resto-color;
    padding: 10px 10px;
    margin: 5px 0px;
    border-radius: 10px;
}

.listado__resto--mitad {
    $resto-color: #FCF0C7;
    background-color: $resto-color;
}

.listado__resto--cero {
    $resto-color: #F2CDD2;
    background-color: $resto-color;
}

@media (max-width: 1050px) {
    $conteiner-width: 700px;
    .conteiner {
        width: $conteiner-width;
    }
}

@media (max-width: 750px) {
    $conteiner-width: 500px;
    $form-width: 100%;
    $listado-width: 100%;
    .conteiner {
        width: $conteiner-width;
        flex-direction: $flex-column;
    }
    #formulario {
        width: $form-width;
    }
    .listado {
        width: $listado-width;
    }
}

@media (max-width: 550px) {
    $conteiner-width: 350px;
    .conteiner {
        width: $conteiner-width;
        flex-direction: $flex-column;
    }
}